:root {
    --white-color: #fff;
    --purple-color: #64b;
    --gray-color: #bbb;
    --blp-color: rgb(9,12,53);
    --grbgr-color: #C2C2C2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

.flx {
    display: flex;
    justify-content: space-between;
}

.btn {
    min-width: 250px;
    height: auto;
    background-color: var(--purple-color);
}